= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      h2 = "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      ul
        - @question.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'What\'s your programming question? Be specific.'
  .form-group
    = f.label :text
    = f.text_area :text, class: 'form-control', placeholder: 'Type detailed question description here.'
  .form-group
    = f.label :tag_list, 'Tags'
    = f.text_field :tag_list, class: 'form-control', placeholder: 'Type tags (separated by commas)'
  .form-group
    = f.submit 'Save', class: 'btn btn-lg btn-primary'
