h1.page-header
  | Recent Questions
  span
    = link_to 'Ask Question', new_question_path, class: 'btn btn-lg btn-success'

#tag-cloud
  - tag_cloud Question.tag_counts, %w{t1 t2 t3 t4 t5} do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: "label label-default #{css_class}"
br

.list-group
  - @questions.each do |question|
    .list-group-item.row
      = link_to question, class: 'question-counters col-md-3 col-sm-3 row text-center' do
        .col-md-4.col-sm-4.pull-left
          h3
            = question.plusminus_tally
          = 'vote'.pluralize(question.plusminus_tally.abs)
        .col-md-4.col-sm-4.pull-left
          h3
            = question.answers.size
          = 'answer'.pluralize(question.answers.size)
        .col-md-4.col-sm-4.pull-left
          h3
            = question.impressions_count
          = 'view'.pluralize(question.impressions_count)
      .col-md-6.col-sm-6
        h4
          = link_to question, class: 'inverse' do
            = question.title
        div
          - question.tags.each do |tag|
            = link_to tag, tag_path(tag.name), class: 'label label-default'
      .col-md-3.col-sm-3.text-right
        span[data-toggle="tooltip" data-placement="top" data-title="#{question.created_at}"]
          = "asked #{time_ago_in_words(question.created_at)} ago"
        br
        == render question.user
.text-center
  == paginate @questions

