h3.page-header
  .icon-container.pull-right
    - if @question.user == current_user
      .icon.icon-lg.icon-edit[data-toggle="tooltip" data-placement="top" data-title="Edit question"]
        = link_to edit_question_path(@question) do
          span.glyphicon.glyphicon-pencil
      .icon.icon-lg.icon-delete[data-toggle="tooltip" data-placement="top" data-title="Delete this question"]
        = link_to question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } do
          span.glyphicon.glyphicon-remove
  = @question.title
.row
  .col-md-1.col-sm-1.text-center
    - voted_how = current_user.voted_how?(@question) if user_signed_in?
    .icon.icon-lg.icon-upvote[class="#{'active' if voted_how == true}"]
      = link_to vote_question_path(@question, type: 'up'), method: :post, remote: true do
        span.glyphicon.glyphicon-chevron-up
    h4[class="q#{@question.id}_votes"] = @question.plusminus
    .icon.icon-lg.icon-downvote[class="#{'active' if voted_how == false}"]
      = link_to vote_question_path(@question, type: 'down'), method: :post, remote: true do
        span.glyphicon.glyphicon-chevron-down
  .col-md-8.col-sm-8
    p
      == @question.text.html_safe
    p
      - @question.tag_list.each do |tag|
        = link_to tag, tag_path(tag), class: 'label label-default'
  .col-md-3.col-sm-3.pull-right.text-right
    span[data-toggle="tooltip" data-placement="top" data-title="#{@question.created_at}"]
      = "asked #{time_ago_in_words(@question.created_at)} ago"
    br
    == render @question.user

- if @question.comments.any?
  .row[id="q#{@question.id}-comments"]
    == render @question.comments
- if user_signed_in?
  - comments_form_id = "q#{@question.id}-comments-form"
  .row
    .col-md-8.col-md-offset-1.col-sm-8.col-sm-offset-1
      a.lighten.dotted[data={target: '#' + comments_form_id, toggle: 'collapse'} aria-expanded="true" aria-controls=comments_form_id]
        | add comment
      .collapse[id=comments_form_id]
        == render 'comments/form', commentable: @question

h4.page-header
  = pluralize(@question.answers.size, 'Answer')
#answers
  == render @question.answers.includes_votes.by_rating
#answer-form
  == render 'answers/form' if user_signed_in?
