- content_for :panel_heading do
  strong Resend confirmation instructions

- content_for :panel_body do
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-envelope
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address'
    .form-group
      = f.submit 'Resend confirmation instructions', class: 'btn btn-lg btn-primary btn-block'

- content_for :panel_footer do
  = render 'devise/shared/links'
