doctype html
html
  head
    meta[content="text/html" charset="UTF-8" http-equiv="Content-Type" ]
  body
    h1 Welcome to OutOfMemory, #{@user.login}
    p
      | You have successfully signed up to #{root_url},
      br
      | your username is: #{@user.login}
      br
      | your password is: #{@password}
    p To login to the site, just follow this link: #{@url}.
    p Thanks for joining and have a great day!
