.comment.col-md-7.col-md-offset-1.col-sm-7.col-sm-offset-1
  = comment.text
  '  —
  = link_to comment.user.login, comment.user, class: 'inverse'
  span[data-toggle="tooltip" data-placement="top" data-title="#{comment.created_at}"]
    = " #{time_ago_in_words(comment.created_at)} ago"
