- comment ||= commentable.comments.build if user_signed_in?
- remote = true unless controller_name == 'comments'
= form_for [commentable, comment], remote: remote do |f|
  - if comment.errors.any?
    #error_explanation
      h2 = "#{pluralize(comment.errors.count, "error")} prohibited this answer from being saved:"
      ul
        - comment.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.text_area :text, class: 'form-control', placeholder: 'Your comment.'
  .form-group
    = f.submit 'Add comment', class: 'btn btn-success'
