<% if @comment.errors.any? -%>
<%= render :partial => 'layouts/errors', locals: {errors: @comment.errors.full_messages} -%>
<% else -%>
$("<%= escape_javascript(render @comment) %>").appendTo("#<%= @comments_container %>");
$('#<%= @comments_container %>-form').collapse('hide').find('form')[0].reset();
<% end %>
