@mixin keyframes($steps, $names, $widths, $height) {
  // We need two different ones

  $random1: ();
  $random2: ();
  @for $i from 0 through $steps {
    $random1: append($random1, random($height));
    $random2: append($random2, random($height));
  }
  @at-root {
    @for $n from 0 to length($names) {
      @for $i from 1 through 2 {
        @keyframes #{nth($names, $n+1)}-anim-#{$i} {
          @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
              clip: rect(
                              nth($random1, $i+1)+px,
                              nth($widths, $n+1)+px,
                              nth($random2, $i+1)+px,
                              0
              );
            }
          }
        }
      }
    }
  }
}
@mixin textGlitchPseudo($name, $textColor, $background, $highlightColor1, $highlightColor2) {

  color: $textColor;
  position: relative;

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    clip: rect(0, 0, 0, 0);
  }
  &:after {
    left: 2px;
    text-shadow: -1px 0 $highlightColor1;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  &:before {
    left: -2px;
    text-shadow: 2px 0 $highlightColor2;
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }

}

@mixin textGlitch($name, $textColor, $background, $highlightColor1, $highlightColor2, $steps, $width, $height) {

  color: $textColor;
  position: relative;

  @include  keyframes($steps, ($name), ($width), $height);

  :nth-child(2),
  :nth-child(3){
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    clip: rect(0, 0, 0, 0);
  }
  :nth-child(2) {
    left: 2px;
    text-shadow: -1px 0 $highlightColor1;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  :nth-child(3) {
    left: -2px;
    text-shadow: 2px 0 $highlightColor2;
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }

}

@mixin imgGlitch($name, $intensity, $width, $height, $top, $left) {

  $steps: $intensity;

  @include  keyframes($steps, ($name), ($width), $height);

  > img {
    position: absolute;
    top: $top+px;
    left: $left+px;
  }
  > img:nth-child(2),
  > img:nth-child(3){
    clip: rect(0, 0, 0, 0);
  }
  > img:nth-child(2) {
    left: ($left + 2) + px;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  > img:nth-child(3) {
    left: ($left - 2) + px;
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }
}



@mixin svgGlitch($name, $intensity, $fillColor, $background, $fillHighlight1, $fillHighlight2, $width, $height, $top, $left) {

  $steps: $intensity;

  @include  keyframes($steps, ($name), ($width), $height);

  svg {
    position: absolute;
    top: $top+px;
    left: $left+px;
    fill: $fillColor;
    background: $background;
    width: $width+px;
    height: $height+px;
  }
  svg:nth-child(2),
  svg:nth-child(3) {
    clip: rect(0, 0, 0, 0);
  }
  svg:nth-child(2) {
    fill: $fillHighlight1;
    left: ($left - 2) + px;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  svg:nth-child(3) {
    fill: $fillHighlight2;
    left: ($left + 2) + px;
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }
}
