- content_for :panel_heading do
  strong Change your password

- content_for :panel_body do
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      .input-group.password-new
        span.input-group-addon
          i.glyphicon.glyphicon-lock
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'New password'
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm new password'
    .form-group
      = f.submit 'Change my password', class: 'btn btn-lg btn-primary btn-block'

- content_for :panel_footer do
  = render 'devise/shared/links'
