.answer
  .row[id="a#{answer.id}"]
    .col-md-1.col-sm-1.text-center
      - voted_how = current_user.voted_how?(answer) if user_signed_in?
      .icon.icon-lg.icon-upvote[class="#{'active' if voted_how == true}"]
        = link_to vote_answer_path(answer, type: 'up'), method: :post, remote: true do
          span.glyphicon.glyphicon-chevron-up
      h4[class="a#{answer.id}_votes"]
        - if answer.respond_to?(:plusminus_tally)
          = answer.plusminus_tally
        - else
          = answer.plusminus
      .icon.icon-lg.icon-downvote[class="#{'active' if voted_how == false}"]
        = link_to vote_answer_path(answer, type: 'down'), method: :post, remote: true do
          span.glyphicon.glyphicon-chevron-down
    .col-md-8.col-sm-8
      - if answer.user == current_user
        .icon-container.pull-right
          .icon.icon-edit[data-toggle="tooltip" data-placement="top" data-title="Edit answer"]
            = link_to edit_answer_path(answer) do
              span.glyphicon.glyphicon-pencil
          .icon.icon-delete[data-toggle="tooltip" data-placement="top" data-title="Delete this answer"]
            = link_to answer_path(answer), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do
              span.glyphicon.glyphicon-remove
      p
        == answer.text.html_safe
    .col-md-3.col-sm-3.pull-right.text-right
      span[data-toggle="tooltip" data-placement="top" data-title="#{answer.created_at}"]
        = "answered #{time_ago_in_words(answer.created_at)} ago"
      br
      == render answer.user

  - if answer.comments.any?
    .row[id="a#{answer.id}-comments"]
      == render answer.comments
  - if user_signed_in?
    - comments_form_id = "a#{answer.id}-comments-form"
    .row
      .col-md-8.col-md-offset-1.col-sm-8.col-sm-offset-1
        a.lighten.dotted[data={target: '#' + comments_form_id, toggle: 'collapse'} aria-expanded="true" aria-controls=comments_form_id]
          | add comment
        .collapse[id=comments_form_id]
          == render 'comments/form', commentable: answer
