- @answer ||= @question.answers.build if user_signed_in?
- remote = true unless controller_name == 'answers'
= form_for [@question, @answer], remote: remote do |f|
  - if @answer.errors.any?
    #error_explanation
      h2 = "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      ul
        - @answer.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.text_area :text, class: 'form-control', placeholder: 'Your answer.'
  .form-group
    = f.submit 'Answer', class: 'btn btn-lg btn-success'
