<% if @answer.errors.any? -%>
<%= render :partial => 'layouts/errors', locals: {errors: @answer.errors.full_messages} -%>
<% else -%>
$("<%= escape_javascript(render @answer) %>").appendTo("#answers");
$('#answer-form form')[0].reset();
<% end %>
