$link-color: black;
$gray-lighter: lighten(black, 85%);

@import "bootstrap-sprockets";
@import "bootstrap";
@import "**/*";

a.inverse:hover {
  color: #ffffff;
  background-color: $link-color;
  text-decoration: none;
}

.center {
  text-align: center;
}

.label {
  margin-left: 3px;
  margin-right: 3px;
}

.page-header .btn {
  margin-left: 10px;
}
