a.navbar-brand {
  padding: 10px 15px;
  img {
    height: 32px;
  }
}

#navbar-profile a {
  $padding: 9px;

  padding-bottom: $padding;
  padding-top: $padding;

  img {
    max-height: 32px;
    margin-right: $padding;
  }
}

.glitch {
  display: inline-block;

  @include textGlitch("logo", white, $navbar-inverse-bg, red, blue, 6, 124, 30);

  span {
    padding: 0 3px;
  }
}
