// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag-cloud {
  line-height: 1.6em;
  text-align: center;
  a {
    margin: 3px;
    display: inline-block;
  }
  .t1 { font-size: 0.6em; }
  .t2 { font-size: 0.8em; }
  .t3 { font-size: 1.0em; }
  .t4 { font-size: 1.2em; }
  .t5 { font-size: 1.4em; }
}

.question-counters {
  .col-md-4, .col-sm-4 {
    padding: 0 4px;
  }
}

.icon-container {
  margin-left: 10px;
}

.icon {
  margin: 0 1px;
  display: inline-block;
  .glyphicon {
    color: $text-color;
  }
}

.icon-lg {
  font-size: 24px;
  margin: 0 3px;
}

.icon-edit {
  &:hover {
    .glyphicon {
      color: $brand-success;
    }
  }
}

.icon-delete {
  &:hover {
    .glyphicon {
      color: $brand-danger;
    }
  }
}

.icon-upvote {
  .glyphicon {
    left: 1px;
  }

  &.active{
    .glyphicon {
      color: $brand-success;
    }
  }
}

.icon-downvote {
  .glyphicon {
    left: -1px;
  }
  &.active{
    .glyphicon {
      color: $brand-danger;
    }
  }
}

.comment {

  border-bottom: 1px dotted $gray-lighter;
  &:first-of-type {
    border-top: 1px solid $gray-lighter;
  }
}

.answer {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.lighten {
  color: $gray-light;
}
