form {
  .form-control:focus {
    z-index: 5;
  }

  .input-group.password-new {
    input[type="password"].form-control:not(:last-child) {
      margin-bottom: -1px;
      border-top-right-radius: 4px;
    }

    input[type="password"].form-control:last-child {
      border-top-right-radius: 0px;
    }
  }

  .recaptcha-container {
    margin: auto;
  }
}

