// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  margin: 20px 20px 10px 0px;
  img {
    @extend .img-rounded;
  }
}

.avatar-thumb {
  @extend .pull-left;
  margin: 2px;
  width: 32px;
  height: 32px;
  img {
    @extend .img-rounded;
  }
}

.popover {
  max-width: 248px;
  .pager {
    margin: 0px;
  }
}

a.dotted:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted;
}