$(".<%= @counter_container %>").html(<%= @counter_value %>).siblings().removeClass('active')
<%- if @voted_how != nil
    icon_class = @voted_how ? '.icon-upvote' : '.icon-downvote'
-%>
.filter('<%= icon_class %>').addClass('active')<% end %>;
