- flash.each do |name, msg|
  - if msg.is_a?(String)
    - alert_class = "alert-#{name.to_s == 'alert' ? 'danger' : 'info'}"
    .alert.alert-dismissible[class=alert_class role="alert"]
      button.close[type="button" data-dismiss="alert"]
        span[aria-hidden="true"] ×
        span.sr-only Close
      = msg