= navbar static: :top, inverse: true do
  = navbar_header do
    = link_to root_url, class: 'navbar-brand' do
      = image_tag 'logo.png'
      .glitch
        - 3.times do
          span
            | OutOf
            strong Memory
  = navbar_collapse do
    = navbar_group id: 'menu' do
      = navbar_item 'Questions', questions_path
      = navbar_item 'Users', users_path
    == render '/layouts/user_menu'