- content_for :content, flush: true do
  .row
    - @panel_col_class ||= 'col-sm-6 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4'
    div[class=@panel_col_class]
      .panel.panel-default
        .panel-heading
          == yield :panel_heading
        .panel-body
          == yield :panel_body
        .panel-footer
          == yield :panel_footer
== render  template: "layouts/application"